AppS_SubmitResourceOrder_OM/SharedBO.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://AppS_SubmitResourceOrder_OM">
	<xsd:complexType name="SharedBO">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="TargetSystem" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="OperationName" type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="TransID" type="xsd:string">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>